body {
  font-family: Roboto Condensed, arial, sans-serif;
}

.topBanner {
  background-color: red;
}

.shoeGraphic {
  width: 50%
  float: left;
}

.shoeGraphic img {
  width: 20%;
}
 .bannerContent {
   width: 50%;
   float: right;
 }
